/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --raisin-black: hsla(231, 10%, 14%, 1);
  --roman-silver: hsla(229, 10%, 57%, 1);
  --eerie-black: hsla(228, 9%, 10%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --radical-red: hsl(346, 100%, 58%);
  --white_a10: hsla(0, 0%, 100%, 0.1);
  --white_a5: hsla(0, 0%, 100%, 0.05);
  --navy-blue: hsla(204, 46%, 12%, 1);
  --smokey-black: hsl(0, 0%, 7%);
  --orange: #FF7A01;
  --orange-light: #ff7c01c1;

  /**
   * gradient color
   */

   --gradient-1: linear-gradient(180deg, transparent, var(--smokey-black));
   --gradient-2: linear-gradient(180deg,var(--eerie-black) 25%,hsla(0, 0%, 0%, 0.6) 80%);
  /**
   * typography
   */

  --ff-syne: 'Syne', sans-serif;
  --ff-recoleta: "Recoleta", serif;
  --ff-gordita: "Gordita", sans-serif;

  --fs-1: 4.8rem;
  --fs-2: 4.5rem;
  --fs-3: 4rem;
  --fs-4: 2.4rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.4rem;
  --fs-8: 1.8rem;
  
  --fw-800: 800;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * border radius
   */

  --radius-pill: 100px;
  --radius-circle: 50%;
  --blob-radius: 52% 48% 59% 41% / 53% 40% 60% 47%;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  --cubic-bounce: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
data,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-syne);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black);
  color: var(--roman-silver);
  font-size: 1.6rem;
  line-height: 1.75;
  overflow: hidden;
}

body.loaded { overflow: overlay; }

body.nav-active { overflow: auto; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 12px; }

.section { padding-block: var(--section-padding); }

.h1 {
  font-size: var(--fs-3);
  font-weight: var(--fw-800);
}

.h1,
.h2,
.h4 {
  color: var(--white);
  line-height: 1;
}

.h2 { font-size: var(--fs-2); }

.h3 {
  color: var(--white);
  font-size: var(--fs-4);
  line-height: 1.5;
}

.h4 { font-size: var(--fs-5); }

.h2,
.h3,
.h4 { font-weight: var(--fw-700); }

.w-100 { width: 100%; }

.has-before {
  position: relative;
  z-index: 1;
}

.has-before::before {
  position: absolute;
  content: "";
  /* z-index: -1; */
}

.btn {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  min-width: max-content;
  padding: 20px 32px;
}

.btn::before {
  width: 70px;
  height: 70px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 2px solid var(--white_a5);
  border-radius: var(--radius-circle);
  transition: var(--cubic-bounce);
}

.btn:is(:hover, :focus-visible)::before { left: calc(100% - 70px); }

.section-subtitle {
  text-transform: uppercase;
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
  margin-block-end: 20px;
  letter-spacing: 2px;
}

.section-title { margin-block-end: 45px; }

.text-lg {
  font-family: var(--ff-syne);
  font-size: var(--fs-1);
}

.layer-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slider {
  --slider-items: 1;
  --item-gap: 12px;

  margin-block-start: 60px;
  overflow: hidden;
}

.slider-container {
  position: relative;
  display: flex;
  gap: var(--item-gap);
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
  --item-width: calc((100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items)));

  min-width: var(--item-width);
  width: var(--item-width);
}

.slider-control {
  position: relative;
  max-width: max-content;
  padding-block: 8px;
  opacity: 0.5;
}

.slider-control .line {
  width: 30px;
  height: 1px;
  background-color: var(--white);
}

.slider-control .arrow {
  position: absolute;
  transform: translateY(-60%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: var(--white);
}

.slider-control.prev .arrow {
  left: 0;
  border-width: 0 0 1px 1px;
}

.slider-control.next .arrow {
  right: 0;
  border-width: 1px 1px 0 0;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-block-start: 40px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--white_a5);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--eerie-black);
  z-index: 10;
  display: grid;
  place-items: center;
  transition: var(--transition-2);
  transition-delay: 0.5s;
}

.preloader.loaded {
  opacity: 0;
  pointer-events: none;
}

.preloader .circle {
  width: 60px;
  height: 60px;
  border: 2px solid var(--raisin-black);
  border-top-color: var(--white);
  border-radius: var(--radius-circle);
  animation: rotate360 1s linear infinite;
  transition: var(--transition-2);
}

@keyframes rotate360 {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}

.preloader.loaded .circle { opacity: 0; }

/*-----------------------------------*\
  #LOADING
\*-----------------------------------*/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 5;
  transform-origin: bottom;
  transition: 0.5s var(--cubic-in);
  transition-delay: 0.5s;
}

.loading.loaded {
  transform: scaleY(0);
  pointer-events: none;
}

.loading > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-2);
}

.loading.loaded > * { opacity: 0; }

.loading .circle { animation: rotate360 1.5s linear infinite; }

@keyframes rotate360 {
  0% { transform: translate(-50%, -50%) rotate(0); }
  100% { transform: translate(-50%, -50%) rotate(1turn); }
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--eerie-black);
  padding-block: 24px;
  z-index: 4;
  transition: var(--transition-1);
}

.header.active {
  background-color: var(--raisin-black);
  padding-block: 16px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: var(--radius-circle);
  display: grid;
  place-content: center;
  gap: 8px;
  transition: var(--transition-1);
}

.nav-toggle-btn:is(:hover, :focus-visible) { gap: 10px; }

.nav-toggle-btn.active { gap: 8px; }

.nav-toggle-btn .line {
  width: 25px;
  height: 2px;
  background-color: var(--black);
  transition: var(--transition-1);
}

.nav-toggle-btn.active .line-1 { transform: rotate(45deg) translate(4px, 4px); }

.nav-toggle-btn.active .line-2 { transform: rotate(-45deg) translate(3px, -2px); }

.navbar {
  position: absolute;
  top: 100%;
  right: -370px;
  max-width: 370px;
  width: 100%;
  background-color: var(--white);
  height: 100vh;
  text-align: center;
  padding: 56px 40px;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
  z-index: 1;
}

.navbar.active {
  transform: translateX(-370px);
  visibility: visible;
  transition-timing-function: var(--cubic-out);
}

.navbar-link {
  color: var(--raisin-black);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible) { text-shadow: 1px 0 0 var(--eerie-black); }

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.overlay.active { display: block; }





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { padding-block-start: 130px; }

.hero-title {
  text-transform: uppercase;
  word-break: break-all;
}

.hero-subtitle {
  font-size: var(--fs-8);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  color: var(--white);
  letter-spacing: 2px;
  line-height: 1.5em;
  margin-block: 10px 30px;
}

.hero-banner {
  border-radius: var(--blob-radius);
  overflow: hidden;
  animation: blobAnim 30s linear infinite;
}

@keyframes blobAnim {

  0%,
  100% { border-radius: var(--blob-radius); }

  10% { border-radius: 33% 67% 50% 50% / 43% 39% 61% 57%; }

  20% { border-radius: 51% 49% 31% 69% / 65% 39% 61% 35%; }

  30% { border-radius: 51% 49% 56% 44% / 45% 39% 61% 55%; }

  40% { border-radius: 66% 34% 33% 67% / 48% 71% 39% 52%; }

  50% { border-radius: 46% 54% 33% 67% / 48% 30% 70% 52%; }

  60% { border-radius: 46% 54% 56% 44% / 48% 30% 70% 52%; }

  70% { border-radius: 46% 54% 56% 44% / 65% 53% 47% 35%; }

  80% { border-radius: 67% 33% 56% 44% / 37% 53% 47% 63%; }

  90% { border-radius: 46% 54% 32% 68% / 37% 53% 47% 63%; }

}

.hero .section-text { margin-block: 30px; }

.hero .btn { margin-inline: auto; }





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-card {
  position: relative;
  background-color: var(--white);
  height: 100%;
  padding: 60px 40px 40px;
  transition: var(--transition-2);
}

.service-card .card-icon ion-icon {
  color: var(--content-color, var(--raisin-black));
  font-size: 6rem;
  --ionicon-stroke-width: 15px;
}

.service-card .card-title {
  color: var(--content-color, var(--raisin-black));
  margin-block: 20px;
}

.service-card .card-text { color: var(--content-color); }

.service-card .card-number {
  margin-inline-start: auto;
  font-weight: var(--fw-800);
  line-height: 0.6;
  max-width: max-content;
  margin-block-start: 32px;
  -webkit-text-stroke: 1px var(--content-color, var(--black));
  -webkit-text-fill-color: transparent;
  opacity: 0.3;
}

.service-card:is(:hover, :focus-within) {
  background-color: var(--raisin-black);
  --content-color: var(--white);
}





/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

.skills .section-text { margin-block-end: 20px; }

.skills .btn { margin-block: 45px; }

.skills-list li:not(:last-child) { margin-block-end: 30px; }

.progress-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: var(--fw-700);
  margin-block-end: 5px;
}

.progress-bg {
  height: 6px;
  background-color: var(--raisin-black);
  border-radius: var(--radius-pill);
}

.progress {
  height: inherit;
  background-color: var(--orange);
  border-radius: inherit;
}





/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.portfolio .slider { --item-gap: 16px; }

.portfolio-card {
  position: relative;
  background-color: transparent;
  transition: var(--cubic-ease-out);
}

.portfolio-card .img-cover { transition: var(--cubic-ease-out); }

.portfolio-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-55%, -50%);
  opacity: 0;
  transition: var(--cubic-ease-out);
  z-index: 1;
}

.portfolio-card .card-text { color: var(--white); }

.portfolio-card:is(:hover, :focus-within) .img-cover {
  opacity: 0.1;
  transform: scale(0.95);
}

.portfolio-card:is(:hover, :focus-within) .card-content {
  transform: translate(-50%, -50%);
  opacity: 1;
}


/* Project Content styles */
.project-content {
  display: flex;
  gap: 40px;
  align-items: stretch; /* Ensure both columns stretch to the same height */
}

.project-info-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure the description is at the bottom */
}

.project-info {
  padding: 20px;
  border: 1px solid var(--orange);
  border-radius: 8px;
  background-color: var(--eerie-black);
  color: var(--white);
}

.project-info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--white);
}

.project-info ul {
  list-style: none;
  padding: 0;
}

.project-info ul li {
  margin-bottom: 10px;
  color: var(--white);
}

.project-info ul li strong {
  font-weight: bold;
}

.project-info ul li a {
  color: var(--orange);
  text-decoration: none;
}

.project-info ul li a:hover {
  text-decoration: underline;
}

.project-description {
  margin-top: 20px;
  font-size: 1.6rem;
  color: var(--white);
  flex-grow: 1; /* Ensure the description takes up remaining space */
}

/* Carousel styles */
.carousel {
  flex: 2;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Ensure the carousel controls are at the bottom */
  height: 470px; /* Make the carousel take the full height */
}

.carousel-inner {
  flex: 1;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-image {
  width: 100%;
  height: 100%; /* Make the image take the full height */
  object-fit: cover;
}

/* Breadcrumb styles */
.breadcrumb {
  margin-top: 10px;
  font-size: 1.5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust the gap between breadcrumb items */
  padding-bottom: 20px;
}

.breadcrumb a {
  color: var(--orange);
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}



/*-----------------------------------*\
  #CERTIFICATE
\*-----------------------------------*/

.certificate-list {
  display: grid;
  gap: 60px;
}

.certificate-card {
  display: grid;
  gap: 40px;
}

.certificate-card .card-content {
  display: flex;
  gap: 16px;
  padding-inline: 16px;
}

.certificate-card .time { font-size: var(--fs-7); }

.certificate-card .time .span {
  color: var(--white);
  font-weight: var(--fw-700);
  line-height: 0.9;
}

.certificate-card .card-text { margin-block: 20px; }

/*-----------------------------------*\
  #PAGINATION
\*-----------------------------------*/
.container-pag .pagination {
  padding-top: 100px;
  position: relative;
  height: 60px; 
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  border-radius: 2px;
}
.container-pag .pagination li {
  list-style-type: none;
  display: inline-block;
}
.container-pag .pagination li a {
  position: relative;
  padding: 20px 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.container-pag .pagination li a:hover,
.container-pag .pagination li.active a {
  background: rgba(255, 255, 255, 0.2);
}



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { position: relative; }

.footer .abs-img { display: none; }

.footer-top {
  padding-block: 50px 140px;
  border-block-start: 1px solid var(--white_a10);
  text-align: center;
  z-index: 1;
}

.footer-top .section-title {
  margin-block: 20px 90px;
  line-height: normal;
}

.footer .btn-icon {
  width: 60px;
  height: 60px;
  margin-inline: auto;
  --hover-bg-color: var(--radical-red);
}

.footer .btn-icon img { width: 30px; }

.footer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -1;
}

.footer-bg::before {
  inset: 0;
  background-image: var(--gradient-2);
}

.footer-bg .img-cover { object-position: top; }

.footer-bottom .logo {
  margin-inline: auto;
  max-width: max-content;
  margin-block-end: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link { font-weight: var(--fw-500); }

.social-link:is(:hover, :focus-visible) { text-decoration: underline; }

.copyright,
.social-list { padding-block-end: 15px; }

.copyright {
  font-weight: var(--fw-300);
  letter-spacing: 0.5px;
  text-align: center;
}

/*-----------------------------------*\
  #FORM
\*-----------------------------------*/
/* Form container main styles */
.form-container-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form container styles */
.form-container {
  width: 90%; 
  background-color: var(--eerie-black);
  padding: 80px;
  display: flex;
  border-left: 5px solid var(--orange);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .form-container {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .form-container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .form-container {
    display: block;
    padding: 30px;
    width: 95%;
  }

  .form-container .form-image {
    height: 300px;
  }
}

/* Form image styles */
.form-container .form-image {
  flex-basis: 50%;
}

.form-container .form-image h1 {
  margin-left: 30px;
  color: var(--white);
  font-weight: 800;
}

@media (max-width: 800px) {
  .form-container .form-image h1 {
    margin-left: 0;
  }
}

.form-container .form-image model-viewer {
  margin-top: -30px;
  height: 100%;
  width: 100%;
}

/* Form styles */
.form-container .form {
  flex-basis: 50%;
}

.form-container .form input {
  color: var(--white);
  width: 100%;
  background-color: var(--raisin-black);
  border: none;
  outline: none;
  padding: 15px; /* Adjust the padding */
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form input:focus {
  border-left: 5px solid var(--orange);
}

.form-container .form textarea {
  width: 100%;
  padding: 15px; /* Adjust the padding */
  border: none;
  outline: none;
  background-color: var(--raisin-black);
  color: var(--white);
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form textarea:focus {
  border-left: 5px solid var(--orange);
}

/* Button container styles */
.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: var(--orange);
  padding: 15px; /* Adjust the padding */
  color: var(--eerie-black);
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid var(--orange);
  color: var(--orange);
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0 var(--orange));
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 15px; /* Adjust the padding */
  color: var(--orange);
  font-weight: bold;
  background: var(--eerie-black);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: var(--orange);
  color: var(--eerie-black);
}
/*-----------------------------------*\
  #CUSTOM CURSOR
\*-----------------------------------*/

.cursor { display: none; }


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container { 
    max-width: 570px;
    width: 100%;
    margin-inline: auto;
  }

  .slider { --slider-items: 2; }



  /**
   * certificate
   */

  .certificate-card .card-content {
    padding-inline: 32px;
    gap: 32px;
  }



   /**
   * FOOTER
   */

  .footer-bottom { padding-block-end: 40px; }

  .footer-bottom .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .footer-bottom .logo { margin: 0; }

  .copyright,
  .social-list { padding-block-end: 0; }

  .social-list {
    order: 1;
    justify-content: flex-end;
  }


}


/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 30px;
  right: -70px;
  width: 70px;
  height: 70px;
  border: 1px dashed currentColor;
  color: var(--orange);
  font-size: var(--fs-11);
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 3;
}

.back-top-btn.show {
  transform: translateX(-100px);
  visibility: visible;
}

.back-top-btn:hover { color: var(--orange-light); }





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 6rem;
    --fs-3: 5.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .title-wrapper {
    display: flex;
    gap: 10%;
  }

  .title-wrapper .section-title { margin-block-end: 0; }

  .title-wrapper .section-text { margin-block-start: 40px; }



  /**
   * HERO
   */

  .hero .container { position: relative; }

  .hero-banner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 55%;
    z-index: -1;
  }

  .hero-content {
    width: 50%;
    margin-inline-start: auto;
    padding-block: 10%;
  }
  .hero-title {
    font-size: 4rem; /* Adjust as needed for iPad and iPad mini screens */
  }

  .hero-title,
  .hero-subtitle { text-shadow: 2px 2px 0 var(--eerie-black); }



  /**
   * SKILL
   */

  .skills-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .skills .btn { margin-block-end: 0; }



  /**
   * certificate
   */

  .certificate-card .card-title { --fs-4: 2.7rem; }



  /**
   * FOOTER
   */

  .footer .container { grid-template-columns: repeat(3, 1fr); }

}

/* Media query for mobile devices */
@media (max-width: 767px) {

  .skills-column {
    padding: 10px; /* Adjust the padding for mobile */
  }

  .hero-title {
    font-size: 2.3rem; /* Adjust as needed for mobile screens */
  }

  .project-content {
    flex-direction: column;
    align-items: center;
  }

  .carousel {
    max-width: 100%;
  }

  .project-info-wrapper {
    width: 100%;
    margin-top: 20px;
  }

  .project-info {
    padding: 15px;
  }

  .project-info h2 {
    font-size: 1.8rem;
  }

  .project-info ul li {
    margin-bottom: 8px;
  }

  .project-description {
    font-size: 1.4rem;
  }

  .section-title-proj {
    font-size: 2.5rem; /* Adjust the font size for mobile view */
    padding: 5px; /* Adjust the padding for mobile view */
  } 

  .project-header {
    display: flex;
    justify-content: center;
  }
  
}

/* Media query for tablet devices */
@media (max-width: 1024px) {
  .project-content {
    flex-direction: column;
    align-items: center;
  }

  .carousel {
    max-width: 100%;
  }

  .project-info-wrapper {
    width: 100%;
    margin-top: 20px;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-3: 7rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .title-wrapper { gap: 15%; }

  .slider { --slider-items: 3; }



  /**
   * HERO
   */

  .hero-subtitle { --fs-8: 1.4rem; }



  /**
   * SKILL
   */

  .skills .section-title { max-width: 16ch; }

  .skills-wrapper { gap: 10%; }



  /**
   * certificate
   */

  .certificate-card {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .certificate-card .card-content { padding: 32px; }

  .certificate-list li:nth-child(2n) .card-banner { order: 1; }


/**
   * CUSTOM CURSOR
   */

   .cursor {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background-color: var(--white);
    mix-blend-mode: exclusion;
    border-radius: var(--radius-circle);
    transform: translate(-50%, -50%) scale(0.35);
    transition: transform 0.35s;
    pointer-events: none;
    z-index: 6;
  }

  .cursor.hovered { transform: translate(-50%, -50%) scale(1.2); }

  .cursor.disabled { transform: translate(-50%, -50%) scale(0); }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 140px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1140px; }



  /**
   * HEADER
   */

  .navbar {
    top: 0;
    display: grid;
    place-content: center;
  }

  .nav-toggle-btn {
    position: relative;
    z-index: 2;
  }

  .overlay { top: 0; }



  /**
   * HERO
   */

  .hero-content { width: 55%; }

  .hero-title { word-break: normal; }

  .hero .section-text { margin-block-end: 52px; }
  /**
   * FOOTER
   */

   .footer-top { padding-block: 120px 350px; }

   .footer-top .section-title {
     --fs-2: 8rem;
     margin-block-start: 50px;
   }
 
   .footer .btn-icon {
     width: 90px;
     height: 90px;
   }
 
   .footer .btn-icon img { width: 45px; }

}